
@{
    ViewBag.Title = "Aula09";
}

<h2>Aula09</h2>

<script src="~/Scripts/Angular/app.module.js"></script>
<script src="~/Scripts/Angular/Aula09Service.js"></script>
<script src="~/Scripts/Angular/Aula09PessoaFactory.js"></script>
<script src="~/Scripts/Angular/Aula09Controller.js"></script>


<div class="row" ng-app="app">
    <div class="col-md-12" ng-controller="Aula09Ctrl1Controller">
        controller 1

    </div>

    <div class="col-md-12" ng-controller="Aula09Ctrl2Controller">
        controller 2
    </div>
</div>

