
@{
    ViewBag.Title = "Aula06";
}
<script src="~/Scripts/Angular/app.module.js"></script>
<script src="~/Scripts/Angular/Aula06.Controller.js"></script>
<h2>Aula06</h2>

<div class="row" ng-app="app">
    <div class="col-md-12" ng-controller="aula06Controller">
        {{nome}}
        
        <button type="button" ng-click="olaMundo()"> click me</button>
    </div>

</div>

